%h1 Welcome
%h2 Classrooms:
%table#list-of-classrooms
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  - @classrooms.each do |classroom|
    %tr
      %td= classroom.name
      %td= link_to 'Show', classroom
      %td= link_to 'Edit', edit_classroom_path(classroom)
      %td= link_to 'Destroy', classroom, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Classroom', new_classroom_path