%p#notice= notice

%p
  %b Name:
  = @student.name

%p
  %b Enrolled Classrooms:
  - @classrooms.each do |classroom|
    .classroom{ id: "classroom-#{classroom.id}" }
      %h3
        = classroom.name
      = render 'classroom_assignments', classroom: classroom
      %div{ id: "homework-classroom-#{classroom.id}" }
        %h4 In-progress assignments:
        -classroom.homeworks.where(student_id: 1).each do |homework|
          %h5
            = homework.assignment.name
          %div
            submitted?
            = homework.submitted?
          %hr

= render 'assign_student_to_classroom'

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', root_path