%p#notice= notice

%p
  %b Name:
  = @student.name

%p
  %b Enrolled Classrooms:
  - @classrooms.each do |classroom|
    .classroom{ id: "classroom-#{classroom.id}" }
      %h3
        = classroom.name
      = render 'classroom_assignments', classroom: classroom
      = render 'in_progress_homework', classroom: classroom
      = render 'submitted_homework', classroom: classroom

= render 'assign_student_to_classroom'

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', root_path