%p#notice= notice

%p
  %b Name:
  = @student.name

%p
  %b Enrolled Classrooms:
  - @student.classrooms.each do |classroom|
    .classroom{ id: "classroom-#{classroom.id}" }
      %h3
        = classroom.name
      %h4 Assignments:
      %ul
        - classroom.assignments.each do |assignment|
          %li{ id: "assignment-#{assignment.id}" }
            =assignment.name
            =link_to 'assign as homework', ''

= render 'assign_student_to_classroom'

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', root_path
